<div class="parent">
  <p id="toggleCommunity" data-toggle="modal" data-target="#communityModal">
    Change Community
  </p>
  <p data-toggle="modal" data-target="#addPostModal">Add new post</p>
  <p data-toggle="modal" data-target="#makeEventModal">Make an event</p>

  <p [routerLink]="['/settings']" routerLinkActive="router-link-active">
    Settings
  </p>
  <p
    style="font-family: 'Inconsolata', 'monospace'"
    routerLink="/profile"
    routerLinkActive="router-link-active"
  >
    Profile
  </p>

  <p *ngIf="!dark" (click)="darken()">
    Dark Mode
  </p>
  <p *ngIf="dark" (click)="lighten()">
    Light Mode
  </p>
</div>

<!-- Add Post Modal -->
<div
  class="modal fade"
  id="addPostModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- <div style="border: none;" class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body">
        <form #addPostForm>
          <input
            class="form-control"
            placeholder="Write something..."
            type="text"
            ngModel
            name="content"
          />
          <input
            ngModel
            style="background-color: transparent;"
            class="my-2"
            type="file"
            ngModel
            name="file"
            (change)="upload($event, image)"
          />

          <div>
            <img id="image" #image src="" width="100%" />
          </div>
        </form>
      </div>
      <div style="border: none; padding-top: -13px;" class="modal-footer">
        <button
          (click)="addPost(addPostForm, div)"
          type="button"
          class="btn btn-primary"
        >
          <h5 style="margin: 0;">Post</h5>
        </button>
        <div #div data-dismiss="modal"></div>
      </div>
    </div>
  </div>
</div>

<!-- Add Post Modal -->

<!-- Make Event Modal -->
<div
  class="modal fade"
  id="makeEventModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div style="border: none;" class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Make an event</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #makeEventForm>
          <input
            style="border: #f8c296 1px solid;"
            class="form-control my-2"
            placeholder="title..."
            type="text"
            ngModel
            name="title"
          />
          <textarea
            style="border: #f8c296 1px solid;"
            ngModel
            name="description"
            placeholder="write description here..."
            class="form-control my-2"
            rows="10"
          ></textarea>
          <div class="form-group row">
            <label
              for="example-datetime-local-input"
              class="col-4 col-form-label"
              >Starting time</label
            >
            <div class="col-8">
              <input
                style="border: #f8c296 1px solid;"
                [ngModel]="date | date: 'YYYY-MM-DD'"
                name="start"
                class="form-control"
                type="datetime-local"
                value="2011-08-19T13:45:00"
                id="example-datetime-local-input"
              />
            </div>
          </div>
          <div class="form-group row">
            <label
              for="example-datetime-local-input"
              class="col-4 col-form-label"
              >Ending time</label
            >
            <div class="col-8">
              <input
                style="border: #f8c296 1px solid;"
                [ngModel]="date | date: 'YYYY-MM-DD'"
                name="end"
                class="form-control"
                type="datetime-local"
                value="2011-08-19T13:45:00"
                id="example-datetime-local-input"
              />
            </div>
          </div>
          <input class="my-2" type="file" ngModel name="file" />
          <app-maps [changeable]="true" [lat]="lat" [lng]="lng"></app-maps>
        </form>
      </div>
      <div style="border: none;" class="modal-footer">
        <button
          (click)="makeEvent(makeEventForm)"
          type="button"
          data-dismiss="modal"
          class="btn btn-primary"
        >
          <h5 style="margin: 0;">Add</h5>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Make Event Modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="communityModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Choose community</h5>
        <!-- <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        > -->
        <div
          style="cursor: pointer;"
          data-dismiss="modal"
          aria-label="Close"
          aria-hidden="true"
        >
          &times;
        </div>
        <!-- </button> -->
      </div>
      <div class="modal-body">
        <div class="container">
          <div
            *ngIf="$communities | async as communities"
            class="row justify-content-center"
          >
            <ng-container *ngFor="let community of communities">
              <span
                data-dismiss="modal"
                *ngIf="community.name != currentCommunity"
                class="col-3 m-2"
                style="cursor: pointer;"
                (click)="changeCommunity(community)"
              >
                {{ community.name }}
              </span>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
