.parent {
  border-right: solid #f8c296 2px;
  display: flex;
  flex-direction: column;
  height: 90vh;
  padding: 10px;
  color: grey;
}

.parent p:hover {
  color: black;
  cursor: pointer;
}

span {
  border: 2px solid black;
  border-radius: 7%;
  padding-left: 35px;
  font-family: "Inconsolata", "monospace";
}

span:hover {
  background-color: black;
  color: white;
}
.modal-footer {
  padding: 20px;
}
h5 {
  font-family: "Inconsolata", "monospace";
  font-weight: bold;
}
p {
  font-family: "Inconsolata", "monospace";
}
label {
  font-family: "Inconsolata", "monospace";
}
h5 {
  font-family: "Inconsolata", "monospace";
}
.main__avatar {
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
  display: block;
  padding: 0;
  // vertical-align: middle;
  margin: 20px auto;
  border-radius: 50%;
  // overflow: hidden;
}
.main__avatar:hover .main__avatar--overlay {
  opacity: 1;
  border-radius: 50%;
}

.main__avatar--overlay {
  opacity: 0;
  color: #fff;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: -1px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
}
.image-upload > input {
  display: none;
}
