<form class="form-inline d-flex dropdown w-100">
  <input
    autocomplete="off"
    data-toggle="dropdown"
    #search
    id="keyword"
    [formControl]="queryField"
    class="searchbar"
    placeholder="Search..."
    autocomplete="off"
  />
  <a id="btnSearch" class="btn-search"><i class="fa fa-search"></i></a>
  <ul
    class="dropdown-menu w-100 "
    role="menu"
    aria-labelledby="keyword"
    [ngStyle]="{ display: results ? 'inline-block' : 'none' }"
  >
    <li *ngIf="results">
      <p
        style="display: flex; justify-content: center; margin-top: 15px;"
        *ngIf="!results.length"
      >
        CAN'T FIND USER
      </p>
    </li>
    <li
      class="filter-select-list"
      role="presentation"
      *ngFor="let result of results"
    >
      <img
        [src]="
          result.image
            ? result.image
            : 'https://capenetworks.com/static/images/testimonials/user-icon.svg'
        "
        alt=""
        width="50"
        height="50"
      />

      <a
        class="artist-name"
        role="menuitem"
        tabindex="-1"
        [routerLink]="'/users/' + result.username"
        routerLinkActive="router-link-active"
        >{{ result.name }}</a
      >
      <span class="tags"> {{ result.username }} </span>
    </li>

    <div class="dropdown-divider"></div>
  </ul>
</form>
