.clickable {
  cursor: pointer;
}
body {
  background: rgb(39, 39, 39);
  color: white;
}

.card {
  background: rgb(39, 39, 39);
  border: rgb(163, 163, 163) 1px solid;
}
.modal-content {
  background: rgb(39, 39, 39);
}

input,
textarea,
.unique {
  background-color: rgb(39, 39, 39) !important;
  color: white !important;
}

.hr {
  background: rgb(163, 163, 163);
}
button {
  color: black !important;
  background-color: black !important;
}
button:hover {
  border: 1px solid white !important;
  color: white !important;
}
